{{define "delete"}}
    {{template "header"}}
        {{range .}}
        <h3 class="center">o aluno deletado foi</h3>
        <div class="container indigo lighten-5">
            <div class="row"> 
                <div class="col s8 center">{{.Nome}}</div>
                <div class="col s2 center">{{.Matricula}}</div>
                <div class="col s2 center">{{.Idade}}</div>
                
            </div>
            <div class="row"> 
                <div class="col s12 center">{{.Curso}}</div>
            </div>
            <div class="row">
                <form method="POST" action="insert">
                    <input type="hidden" name="nomeI" value="{{.Nome}}">
                    <input type="hidden" name="idadeI"  value="{{.Idade}}">
                    <input type="hidden" name="matriculaI"  value="{{.Matricula}}">
                    <input type="hidden" name="cursoI"  value="{{.Curso}}">
                    <input type="submit" class="btn blue offset-s4 col s4" value="desfazer">
                </form>
            </div>
        </div>
        {{end}}
        <div class="row">
            <a class="btn green col s2 offset-s5" href="/show"><div>Voltar</div></a>
        </div>
{{end}}